<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>us.barrere</string>
	<key>connections</key>
	<dict>
		<key>05923F60-66CB-4A8A-998D-ADCDB109B752</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>993C9264-DAC7-4B26-A7A6-179BD2B34688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13BEDF84-9DD8-454A-BB39-F9E5FDB88984</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4022C52F-B362-4CC2-A081-109D6EB9D833</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FBC3B24-B77B-4081-A447-DB4246474C28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05923F60-66CB-4A8A-998D-ADCDB109B752</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34BB5C99-F7BA-4DDA-A2AD-D8EFE1E2CEBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FBC3B24-B77B-4081-A447-DB4246474C28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4022C52F-B362-4CC2-A081-109D6EB9D833</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34BB5C99-F7BA-4DDA-A2AD-D8EFE1E2CEBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>993C9264-DAC7-4B26-A7A6-179BD2B34688</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>elliott@barrere.us</string>
	<key>description</key>
	<string>A fun workflow to generate a response to given text in a particular style.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Claude Responder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>13BEDF84-9DD8-454A-BB39-F9E5FDB88984</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>c</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>4022C52F-B362-4CC2-A081-109D6EB9D833</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>Choose personality</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat &lt;&lt; EOB
{
  "items": [
    { "title": "Pirate", "subtitle": "Arr matey!", "arg": "pirate" },
    { "title": "Shakespeare", "subtitle": "To be or not to be", "arg": "shakespeare" },
    { "title": "Cowboy", "subtitle": "Howdy partner", "arg": "cowboy" },
    { "title": "Corporate", "subtitle": "Let's circle back", "arg": "corporate" },
    { "title": "Medieval", "subtitle": "Hark, good sir", "arg": "medieval" }
  ]
}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>34BB5C99-F7BA-4DDA-A2AD-D8EFE1E2CEBC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source .envrc

# Get the message from the previous step (selected text)
message="$(pbpaste)"
# Get the personality from the selected list item
personality=${1}

echo "Responding to message: ${message} as ${personality}" 1&gt;&amp;2

# Run the Python script with the message and personality
python3 claude_responder.py "$message" "$personality"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1FBC3B24-B77B-4081-A447-DB4246474C28</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>993C9264-DAC7-4B26-A7A6-179BD2B34688</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⇥</string>
				<key>keycode</key>
				<integer>48</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>05923F60-66CB-4A8A-998D-ADCDB109B752</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05923F60-66CB-4A8A-998D-ADCDB109B752</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>13BEDF84-9DD8-454A-BB39-F9E5FDB88984</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1FBC3B24-B77B-4081-A447-DB4246474C28</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>34BB5C99-F7BA-4DDA-A2AD-D8EFE1E2CEBC</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>4022C52F-B362-4CC2-A081-109D6EB9D833</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>993C9264-DAC7-4B26-A7A6-179BD2B34688</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
